.container {
    width: 800px;
    height: 800px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.container div {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid black;
}

.p1 {
    background-color: red;
    border-radius: 50%;
}

.p2 {
    background-color: blue;
    border-radius: 50%;
    border: 1px solid black;
}

body {
    text-align: center;
}

.showwinner {
    display: none;
}